@charset "utf-8";
/* CSS Document */
td
{
   display: table-cell; 
   padding-left:0px;
   padding-right:0px;
   padding-top:0px;
   padding-bottom:0px;
}

#canvas_holder
{
    position: absolute;
    /*border: solid #999 1px;*/
    top:45px;
    left: 390px;
    width: 515px;
    height: 500px;
}
#canvas
{
}

.slider_container
{
	position:absolute;
	left: 50px;
    width: 320px;
    height: 90px;
    background-color: #e4e4dd;
}
#slider_container_objective { top: 40px; border-left: 10px solid #9ACFD0; }
#slider_container_product { top: 180px; border-left: 10px solid #E66E1E; }
#slider_container_cogs { top: 320px; border-left: 10px solid #6E1400; }
#slider_container_marketing { top: 460px; border-left: 10px solid #004669; }

.slider
{
	position:absolute;
	top:45px;
	left:30px;
	width: 260px;
}

.row_title
{
    position:absolute;
    top:8px;
    left:30px;
    font-size:10pt;
    text-align:left;
    color: #5A5A4B;
    font-weight:bold;
    width: 360px;
}

